{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["node", "ts"],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "no-console": 0
  }
}